<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
<<<<<<< HEAD
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="form-control">
                <label for="imageURL">Image</label>
                <input type="imageURL" name="imageURL" id="imageURL">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="price" name="price" id="price">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea  name="description" id="description" rows="5"></textarea>
            </div>
=======
                <div class="form-control">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title">
                </div>
                <div class="form-control">
                    <label for="imageURL">Image</label>
                    <input type="text" name="imageURL" id="imageURL">
                </div>
                <div class="form-control">
                    <label for="price">Price</label>
                    <input type="number" name="price" id="price" step="0.01">
                </div>
                <div class="form-control">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" rows="5"></textarea>
                </div>
                <button class="btn" type="submit">Add Product</button>
            </form>
            
>>>>>>> a83a5bb0ba5eaa65c3306c9d57ec920cd03e852f


            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>